@charset "UTF-8";
/* CSS Document */


/* ==================== レイアウト ==================== */

body {
margin: 0;
background-image: url("/assets/backgroundimg.png");
font-family: sans-serif;
}


#container {width: 100%;
  margin: auto;}

#content {
width: 950px;
margin: auto;
margin-top: 37px;
}

#content_plans {
width: 950px;
margin: auto;
margin-top: 40px;
}

#foot {clear: both;
    padding-top: 40px;}


a {text-decoration: none;}

a img {border-style:none;}


a:hover {
opacity: 0.9;
filter:alpha(opacity=90);
-ms-filter: "alpha( opacity=90 )";
z-index: 1;
}


a:hover img{
opacity: 0.8;
filter: alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
z-index: 1;
}

.alert {
position: relative;
top: 21px;
font-size: 22px;
padding: 15px 0px 15px 0px;
margin: 0;
color: rgb(255, 255, 255);
background-color: rgb(255, 111, 123);
text-align: center;
}

.alert2 {
position: relative;
top: 21px;
font-size: 22px;
padding: 15px 0px 15px 0px;
margin: 0;
color: rgb(255, 255, 255);
background-color: rgb(255, 111, 123);
text-align: center;
}

/* ==================== ヘッダー ==================== */

#header {
width: 100%;
height: 45px;
background-color: rgb(218, 0, 0);
color: rgb(255, 255, 255);
z-index: 2;
position: fixed;
top: 0;
left: 0;
box-shadow: 0 1px 8px #333333;
-moz-box-shadow: 0 1px 8px #333333;
-webkit-box-shadow: 0 1px 8px #333333;
}

#headermobi {
width: 100%;
height: 45px;
background-color: rgb(218, 0, 0);
color: rgb(255, 255, 255);
z-index: 2;
margin-top: -25px;
margin-bottom: -21px;
box-shadow: 0 1px 8px #333333;
-moz-box-shadow: 0 1px 8px #333333;
-webkit-box-shadow: 0 1px 8px #333333;
}



#header_inner {
  width: 950px;
  margin: auto;
  padding-top: 5px;
         }


#header_inner h1 {
margin: 3px 0 0px 0;
float: left;
}


#header_inner p {
  margin-left: 10px;
  margin-top: 14px;
  font-size: 0.6em;
  float: left;
}


/* ====================サブメニュー ==================== */


#navbar {
height: 26px;
background:
#fff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-ms-border-radius: 10px;
border: 1px solid
#CCC;
padding: 4px;
width: 405px;
float: right;
}


#submenu ul {
position: relative;
top: -16px;
margin-left: -40px;
}


#submenu li a {
font-size: 0.75em;
text-decoration: none;
}


#submenu li {
display: inline;
list-style-type: none;
border-left: solid 1px
rgb(163, 163, 163);
margin-left: 6px;
padding-left: 10px;
}


#submenu li.first {
border: none;
position: relative;
top: -2px;
}


#submenu li img {
vertical-align: -10px;
}

.feedact {
background-color: rgb(255, 23, 78);
padding: 7px 2px 7px 2px;
color: white;
font-weight: bold;
border-radius: 5px;
}

/* ==================== アイキャッチ ==================== */

#mainpic {
background-image: url(mainpicn.png);
height: 366px;
background-repeat: repeat-x;
background-position: center;
margin-top: 10px;
}


.copy {
text-align: center;
position: relative;
top: 102px;
}


.postbuttontop1 {
margin: auto;
position: relative;
top: 113px;
display: block;
width: 380px;
height: 80px;
background-image: url(startbtn.png);
background-repeat: no-repeat;
}

.postbuttontop2 {
margin: auto;
position: relative;
top: 112px;
display: block;
width: 340px;
height: 78px;
background-image: url(startbtn2.png);
background-repeat: no-repeat;
}


#social {
text-align: center;
position: relative;
top: -25px;
left: -70px;
}

.fb-like {
position: relative;
top: -3px;
left: 64px;
}

.twitter-share-button {
position: relative;
left: 70px;
top: -4px;
}

.news {
text-align: center;
font-size: 14px;
font-weight: bold;
margin-bottom: 40px;
margin-top: -30px;
}

.catewrap {}

.cateall {
float: left;
position: relative;
top: -17px;
font-weight: bold;
font-size: 14px;
}

.catealldes {
position: relative;
top: -13px;
margin-left: 4px;
border-right: solid 1px rgb(148, 148, 148);
margin-right: 5px;
padding-right: 10px;
}

.catego {
float: left;
margin-top: -30px;
}

.cateimg {}

.catedes {
font-weight: bold;
border-right: solid 1px rgb(156, 156, 156);
padding-right: 10px;
margin-right: 10px;
position: relative;
top: -14px;
font-size: 14px;
}

/* ==================== コンテンツ ==================== */

.sort {
text-align: center;
position: relative;
top: -25px;
}

/* ===== コンテンツタイトル ======= */

.post {
width: 100%;
margin-bottom: -20px;
}

.post h2 {
font-size: 1.2em;
margin-bottom: 10px;
margin-left: 15px;
margin-top: 10px;
}

/* ===== プラン一覧 ========= */



a { color:#333;}

.areatop {
margin-top: -25px;
margin-bottom: -5px;
text-align: center;
font-size: 11px;
background-color: rgb(155, 155, 155);
padding: 0px;
z-index: 1;
margin-left: 185px;
color: white;
border-radius: 3px;
}

.imgcaption {
float: left;
width: 270px;
margin: 0px 10px 15px 10px;
border: solid 4px #d1d1d1;
padding: 7px;
background-color: white;
height: 200px;
box-shadow: 0px 1px 0px #757575;
}


.planimgtop {
float: left;
margin-right: 5px;
position: relative;
top: 5px;
}


.plancap {
font-size: 16px;
overflow: auto;
height: 95px;
font-weight: bold;
position: relative;
top: 5px;
}

.ribbon {
background-image: url(/assets/ribbon.png);
background-repeat: no-repeat;
position: relative;
left: -18px;
font-size: 14px;
color: rgb(255, 255, 255);
padding-bottom: 5px;
padding-top: 1px;
height: 23px;
}


.ribbon2 {
background-image: url(/assets/ribbonlong.png);
background-repeat: no-repeat;
position: relative;
left: -18px;
font-size: 14px;
color: rgb(255, 255, 255);
padding-bottom: 5px;
padding-top: 1px;
height: 23px;
}

.ribbon3 {
background-image: url(/assets/ribbonred.png);
background-repeat: no-repeat;
position: relative;
left: -18px;
font-size: 14px;
color: rgb(255, 255, 255);
padding-bottom: 5px;
padding-top: 1px;
height: 23px;
}


.planfoot {
border-top: dotted 1px #aaa;
width: 270px;
padding-top: 10px;
position: relative;
top: -15px;
}

.plandes {
font-size: 12px;
color: rgb(119, 119, 119);
position: relative;
top: -15px;
height: 25px;
}

.sannkabtn {
display: block;
width: 95px;
height: 28px;
background-image: url(attendbtntop.png);
background-repeat: no-repeat;
float: left;
position: relative;
left: 65px;
}

.favoritebtntop {
display: block;
width: 96px;
height: 28px;
background-image: url(favoritebtntop.png);
background-repeat: no-repeat;
float: right;
}

.favoritebtntopcancell {display:block;
      width: 96px;
      height: 28px;
    background-image:url(favingbtn.png);
    background-repeat:no-repeat;
    float: right;}



/* ==================== プラン投稿ページ ==================== */

.catename {
margin-right: 10px;
font-size: 14px;
margin-left: -5px;
}

.cateimg2 {}


#planpost{width:100%;
     float:left;
     margin: 0px;
   padding:10px;
   background-color:#FFF;
  border: solid 1px rgb(224, 224, 224);-moz-box-shadow: 0px 0px 6px 3px #DDD;    /* firefox　*/
  /* safari、chorme */
border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}



#plan_area {
font-size: 16px;
background-size: 1px;
height: 35px;
width: 150px;
margin-top: 10px;
}


#planpost h1 {
font-family: sans-serif;
padding: 10px 8px;
margin: 0;
font-size: 2em;
background-color: rgb(240, 240, 240);
background-repeat: no-repeat;
background-size: 40%;
background-position-x: 500px;
background-position-y: -7px;
color: rgb(0, 0, 0);
}

#planpost h2 {
margin: 0;
margin-top: 35px;
font-size: 1.5em;
font-weight: bold;
border-left: 7px solid rgb(205, 0, 0);
padding-left: 5px;
font-family: sans-serif;
margin-bottom: 5px;
}

.postmark {
font-size: 13px;
color:
white;
padding: 2px 3px;
background-color: rgb(240, 0, 0);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
margin-left: 5px;
}

.words {
font-size: 14px;
}

.des {
margin: 10px 0px 5px 0px;
font-size: 15px;
font-weight: 100;
font-family: sans-serif;
}

.inputtitle {
width: 940px;
height: 25px;
font-size: 15px;
}

.inputdes {
width: 940px;
height: 80px;
font-size: 14px;
}

.inputdate {
width: 200px;
height: 20px;
font-size: 15px;
}

.inputtime {
font-size: 1em;
}

.inputplace {
width: 250px;
height: 20px;
font-size: 14px;
}

.inputcount {
font-size: 17px;
width: 47px;
}


.postbutton {
display: block;
width: 344px;
height: 68px;
background-image: url(postbutton.png);
background-repeat: no-repeat;
margin: auto;
background-color: white;
border: none;
margin-bottom: 15px;
}

.postbutton:hover {
background-image:url(postbutton.png);
background-position-y: -75px;
background-repeat:no-repeat;}

.postbutton:active {
background-image:url(postbutton.png);
background-position-y: -148px;
background-repeat:no-repeat;}


/* ==================== プラン詳細ページ ==================== */


.fbbtnshow {
position: relative;
top: 15px;
right: 90px;
}
.twitterbtnshow {
position: relative;
top: -40px;
right: 63px;
}

.waiting {
background-image: url(/assets/waiting.png);
background-repeat: no-repeat;
width: 655px;
height: 57px;
display: block;
margin: auto;
}


#plantitle {
background-color: rgb(255, 255, 255);
height: 180px;
border-bottom: solid 1px rgb(199, 199, 199);
margin-bottom: -30px;
margin-top: 0px;
}

#plantitleinner {
width: 950px;
margin: auto;
}

.planshowp {margin: 0;
font-size: 10px;
position: relative;
top: 30px;
background-color: rgb(255, 0, 51);
width: 146px;
text-align: center;
color: white;
padding: 2px;
border-radius: 3px;
margin-bottom: 10px;
margin-top: -10px;
}

.category_img {
float: left;
margin-right: 10px;
margin-top: 10px;
}


#plantitleinner h1 {
position: relative;
top: 25px;
color: rgb(0, 0, 0);
width: 700px;
line-height: 40px;
height: 80px;
overflow: hidden;
}

.poster {
font-size: 14px;
position: relative;
top: 23px;
left: -140px;
}

#socialshow {
position: relative;
left: -222px;
top: 45px;
text-align: right;
height: 0px;
}


#rightcontens {
float: right;
}

#rightcontensshow {
float: right;
position: relative;
top: -78px;
}

#leftcontents{float:left;}



#decide {width: 680px;
     margin-bottom:10px;
   padding:10px;
   background-color:#FFF;
      /* firefox　*/
  /* safari、chorme */
border: solid 1px #E0E0E0;border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}

#decide h1 {
margin: 0;
background-color: rgb(235, 0, 0);
color: white;
padding: 5px;
font-weight: 200;
font-size: 30px;
}

#decide p {
font-size: 17px;
line-height: 30px;
font-weight: bold;
}


#plan {
width: 680px;
margin: 10px 0px 10px 0px;
padding: 10px;
background-color: #FFF;
border: solid 1px #E0E0E0;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}



dl.plande dt {
font-weight: bold;
border-left: solid 7px rgb(210, 0, 0);
color: #000;
font-size: 17px;
float: left;
margin-right: 10px;
padding-left: 5px;
}

dl.plande dd {
font-size: 17px;
background: url("/assets/dotted.png") repeat-x 0 bottom;
margin: 10px;
padding: 5px;
position: relative;
top: -5px;
}

dl.plande {margin:auto;
           padding: 10px 20px 0 10px;}

.target {
margin-top: 25px;
}

.datedes {
margin-left: 110px;
margin-top: 10px;
}

.plandatedes {
font-size: 16px;
font-weight: bold;
position: relative;
line-height: 34px;
}

.planedit {
text-align: right;
}

#other1 {
width: 210px;
padding: 10px;
margin-bottom: 10px;
position: relative;
top: -5px;
}


#cast {
width: 680px;
padding: 10px 10px 0px 10px;
margin-bottom: 10px;
background-color: #FFF;
border: solid 1px #E0E0E0;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}


   #cast ul {margin-left: -40px;}

   #cast li {list-style-type: none;}

   #cast a {text-decoration:none;
            color:#000;}
   #cast a:hover{color:#666;}

#cast p {
font-weight: bold;
font-size: 1.2em;
margin-top: -20px;
}


dl.castdown dt {
 vertical-align:top;
 margin-right: 10px;
 font-size: 0.8em;
 font-weight:bold;
 margin-top:10px;}

dl.castdown dd {
  font-size: 0.8em;
  margin-left: 45px; }




#attend{width: 680px;
     padding:10px;
     margin-bottom:10px;
   background-color:#FFF;
      /* firefox　*/
      /* safari、chorme */
     border: solid 1px #E0E0E0; border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}


#attendinner { padding-left: 10px; }


#attend h3 {
color: rgb(0, 0, 0);
padding: 5px 8px;
margin: 0;
font-size: 1.8em;
background-color: rgb(236, 236, 236);
font-weight: 200;
}

.sannkazyoukenn {
color: #F06;
font-size: 1em;
}

.dates {
margin-top: -10px;
line-height: 30px;
}

.atndcom {
width: 600px;
font-size: 14px;
margin: -5px 0 15px 0;
}

.comm {
font-weight: bold;
font-size: 20px;
position: relative;
top: -5px;
}

.atndmembers {
margin-left: 10px;
font-size: 13px;
vertical-align: top;
position: relative;
top: -5px;
margin-bottom: -23px;
}

.atndmembersimg {
position: relative;
left: 180px;
margin-bottom: -25px;
}


#attend h4 {
font-size: 18px;
font-weight: bold;
margin: 10x 0 10px 0;
border-bottom: solid 1px #ACACAC;
padding-bottom: 10px;
}

.attenduser{ vertical-align:middle;
             margin-left:5px;}


.st-content { margin-left: 10px;}

.st-content-ouen {
margin-top: -10px;
margin-bottom: -10px;
margin-left: 10px;
}



table, tr, th, td {
border: none;
}

#like-fake .uiGrid {
border: 0;
border-collapse: collapse;
border-spacing: 0;
position: relative;
top: -19px;
left: 66px;
}


#like-fake {
font-size: 11px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
color:
#333;
line-height: 1.28;
text-align: left;
direction: ltr;
margin-top: 1px !important;
margin-left: -2px!important;
position: relative;
float: left;
top: 16px;
}


.fb_iframe_widget span {
display: inline-block;
position: relative;
text-align: justify;
vertical-align: text-bottom;
top: -41px;
}



.attendbutton {
display: block;
width: 555px;
height: 53px;
background-image: url("attendbutton.png");
border: none;
background-color: #fff;
background-repeat: no-repeat;
margin: auto;
margin-bottom: 20px;
}

.attendbutton:hover { background-position:0px -58px;
           background-color:#fff;
             background-repeat:no-repeat;}


.attendbutton2 {display:block;
      width:205px; height:47px;
    background-image:url("sidebuttons.png");
    background-repeat:no-repeat;
    margin:auto;
    margin-bottom: 10px;
   }

.attendbutton2:hover { background-position:0px -49px;
             background-repeat:no-repeat;}


.btn2 {display:block;
      width: 205px;
height: 47px;
background-position: -210px 0px;
    background-image:url("sidebuttons.png");
    background-repeat:no-repeat;
    margin:auto;
   }

.btn2:hover { background-position:-210px -49px;
             background-repeat:no-repeat;}


.btn2cancell {display:block;
      width: 205px;
height: 47px;
background-position: -210px -100px;
    background-image:url("sidebuttons.png");
    background-repeat:no-repeat;
    margin:auto;
   }

.ouenbutton {display:block;
      width: 166px;
      height: 36px;
      background-position: -419px 0px;
    background-image:url("sidebuttons.png");
    background-repeat:no-repeat;
    margin:auto;
   }

.ouenbutton:hover { background-position:-419px -38px;
             background-repeat:no-repeat;}



.ouenbuttoncancell {display:block;
      width: 166px;
      height: 36px;
      background-position: -419px -77px;
    background-image:url("sidebuttons.png");
    background-repeat:no-repeat;
    margin:auto;
   }


#attendlink{padding-top:50px;
            margin-top:-50px;}





#commentflame {width: 680px;
          padding:10px;
        background-color:#FFF;
            /* firefox　*/
            /* safari、chorme */
          border: solid 1px #E0E0E0;border-radius: 5px;        /* CSS3草案 */
          -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
          -moz-border-radius: 5px;   /* Firefox用 */}

.comment {border-bottom: 1px dotted #BDB8AD;}

.comment2 {border-top: 1px dotted #BDB8AD;
          margin-bottom: -5px;
          margin-top: 10px;}

dl.comms dt {
 vertical-align:top;
 margin-right: 10px;
 font-size: 0.8em;
 font-weight:bold;
   }

dl.comms dd {
  font-size: 0.8em;
  margin-left: 45px;
}





#other2{width: 210px;
     padding:10px;
   margin-bottom: 10px;background-color:#FFF;
      /* firefox　*/
  /* safari、chorme */
border: solid 1px #E0E0E0;border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}


.ouen {
text-align: center;
background-color: rgb(228, 228, 228);
margin: -4px;
padding: 3px;
}

#other3 {
width: 210px;
padding: 10px;
background-color: #FFF;
border: solid 1px #E0E0E0;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}


.atndroomtitle{
    font-size: 2em;
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -20px;
}


/* ==================== 関連プラン ==================== */

.imgcaption2 {
width: 195px;
margin-bottom: 10px;
border: solid 1px #CCC;
padding: 5px;
background-color: #FFF;
box-shadow: 2px 2px 2px #DDD;
-moz-box-shadow: 2px 2px 2px #DDD;
-webkit-box-shadow: 2px 2px 2px #DDD;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
height: 108px;
}

.planimgtop2 {
    float: left;
    margin-right: 5px;
}

.plancap2 {
    font-size: 12px;
    overflow: hidden;
    height: 73px;
    font-weight: bold;
    width: 125px;
}

.planfoot2 {
    border-top: solid 1px rgb(189, 189, 189);
}




.sannkabtn2 {display:block;
      width: 95px;
      height: 28px;
    background-image:url(attendbtntop.png);
    background-repeat:no-repeat;
    position: relative;top: 6px;}


.okinibtn2 {display:block;
      width: 96px;
      height: 28px;
    background-image:url(favoritebtntop.png);
    background-repeat:no-repeat;
    float: right;position: relative;top: -22px;}

#other3 p {
margin: 0px 0px 15px 0px;
background-color: rgb(230, 230, 230);
color: rgb(0, 0, 0);
padding: 4px;
margin-bottom: 20px;
text-align: center;
}

.planother {
border-bottom: solid 1px rgb(200, 200, 200);
margin-bottom: 10px;
}

.plancapother {
font-size: 14px;
overflow: auto;
height: 69px;
line-height: 20px;
}


/* ==================== ユーザーページ ==================== */


#userplan h1 {
background: rgb(220, 0, 0);
display: block;
font-size: 30px;
font-weight: 600;
height: 39px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
color: white;
}

.fbbutton {
position: relative;
left: -10px;
}


#userdatawrap { width: 680px;
            height: 180px; margin:auto;}


.userpagepic {float:left;
              border:solid 1px #999999;
        padding:5px;
        margin: 5px 10px;}

#userdata {width: 500px;float:left;}

#userdata h2 {margin: 0; margin-top: 20px;}






#planmenulink{padding-top: 50px;
              margin-top: -50px;}

#userplan{width: 682px;
     margin-bottom:10px;
   padding:10px;
   background-color:#FFF;
  border: solid 1px #E0E0E0;    /* firefox　*/
  /* safari、chorme */
border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}



.userplanmenu ul  {margin: 0;
padding: 0;}

.userplanmenu li  {list-style-type: none;
float: left;}

.userplanmenu li a  {background-color: rgb(241, 241, 241);border: solid 1px gray;height: 40px;display: block;
width: 168px;
line-height: 43px;
border-right: solid 1px rgb(141, 138, 138);
color: #1D1D1D;
font-weight: bold;font-size: 0.8em;text-align: center;
background: -moz-linear-gradient( top, white 0%, #EEE);
background: -webkit-gradient( linear, left top, left bottom, from(white), to(#EEE));
}

#userplan h3 {
margin: 10px 0px 5px 0;
background-color: rgb(230, 230, 230);
color: rgb(0, 0, 0);
padding: 7px;
font-weight: 100;
}

.userpostplan {height:160px;
               width: 164px;
              margin: 3px;
              background-color:F5F5F5;
        float:left;}

.upptitle { margin-top: 3px;
            font-size: 0.9em;}

.upptitle a{ text-decoration: none;
color: black;
 font-size: 0.8em;
font-weight:800;}


.space{height:40px;}


.gotop { text-align: center;
 padding: 8px 302px;
background-color: #757575;
color: #fff;
margin: auto;
background: -moz-linear-gradient( top, #AFAFAF 0%, #8B8989);
background: -webkit-gradient( linear, left top, left bottom, from(#AFAFAF), to(#8B8989));
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);}


.imgcaptionshow {
float: left;
width: 290px;
margin-right: 20px;
margin-bottom: 10px;
padding: 7px;
height: 70px;
border-bottom: solid 1px rgb(180, 180, 180);
}

.planimgtopshow {
    float: left;
    margin-right: 5px;
}

.plancapshow {
font-size: 15px;
overflow: auto;
height: 69px;
}


/* ==================== お知らせページ==================== */

#feed {width: 680px;
     margin-bottom:10px;
   padding:10px;
   background-color:#FFF;
  border: solid 1px #E0E0E0;    /* firefox　*/
  /* safari、chorme */
border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}


#feed h1 {
background: rgb(235, 235, 235);
display: block;
font-size: 30px;
font-weight: 600;
height: 39px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
}

#feed p {
    margin: 15px 0 -1px 0;
    border-bottom: solid 1px rgb(156, 156, 156);
    font-size: 1em;
}

#feed a {
color: rgb(238, 83, 108);
font-weight: bold;
}

/* ==================== 待ち合わせルーム==================== */

#waitroom {width: 680px;
     margin-bottom:10px;
   padding:10px;
   background-color:#FFF;
  border: solid 1px #E0E0E0;    /* firefox　*/
  /* safari、chorme */
border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */}


#waitroom h1 {
background: rgb(240, 240, 240);
display: block;
font-size: 20px;
font-weight: 600;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
}


#waitroom a {
color: #000;
font-weight: bold;
}

/* ==================== フッター ==================== */

#footer {width: 100%;}

#footer_inner {padding: 10px;}

#footer p {color: #666;
  font-size: 0.75em;
  margin: 0;
  text-align: center;}

/* ==================== フッターメニュー ================== */

#footmenu {text-align: center;
  margin-bottom: 8px;}

#footmenu li a  {font-size: 0.75em;
  color: #666;
  text-decoration: none;}

#footmenu li a:hover  {color: #CCC;}

#footmenu li  {display: inline;
  list-style-type: none;
  border-left: solid 1px #aaaaaa;
  margin-left: 15px;
  padding-left: 15px;}

#footmenu li.first  {border-left: none;
text-align:center;
      padding-left: 10;}

#footmenu ul  {margin: 0;
  padding: 0;}

