<div id="content_plans">

 <div id="leftcontents">

   <div id="feed">
   　　
   　　<img class="feedbtn" src="お知らせボタン.png" />
       <%= link_to( notice_users_path ) do %><img class="messageboxbtn" src="メッセージボックス.png" /><% end %>

        <p>「タネマキ 壁部」に「Ryo Shirakawa」が参加しました。</p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>

   </div>



 </div>


 <div id="rightcontens">

   <div id="other2">
   おすすめプラン

   <img src="グルーヴラフTOPピング のコピー.png" width="180px"/>
   <img src="グルーヴラフTOPピング のコピー.png" width="180px"/>

   </div>

 </div>

</div>

</html>
