
<div id="content_plans">

 <div id="leftcontents">

   <div id="feed">
   　　
   　　<%= link_to( feed_users_path ) do %><img class="feedbtn" src="/assets/お知らせボタン２.png" /><% end %>
       <img class="messageboxbtn" src="/assets/メッセージボックス２.png" />

        <p>「タネマキ 壁部」に「Ryo Shirakawa」が参加しました。</p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>
        <p>「タネマキ 壁部」に「Ryo Shirakawa」からコメントが投稿されました。 </p>

   </div>



 </div>


 <div id="rightcontens">

   <div id="other2">
   おすすめプラン

   <img src="/assets/グルーヴラフTOPピング のコピー.png" width="180px"/>
   <img src="/assets/グルーヴラフTOPピング のコピー.png" width="180px"/>

   </div>

 </div>

</div>

</html>
