<div id="content_plans">
  
  <div id="leftcontents">
    
    <div id="planmenulink"></div> 
    <div id="userpage">
     
     <h1>プロフィール</h1>
       
     
       <div id="userdatawrap">
       
          <img class="userpagepic" src="userpicbig.jpg" width="140" height="140" />
          
          <div id="userdata">
          <h2>白川　遼</h2>
          <p style=" font-size: 0.8em; margin: 5px 0; ">お酒は弱いですが、飲むのは好きです。よろしくどうぞ</p>
          <a class="fbbutton" href="#"><img src="/assets/fb.png" alt="Facebookのページを見る" style=" float: right; " /></a>
     
          </div>
          
       </div>
     
          <p style="margin:0;font-weight: bold;color: rgb(102, 102, 102);margin: 15px 0px -5px 5px;">興味のあるコミュニティ</p>
          <img src="/assets/tags.png" width="675" height="76" style=" margin-bottom: 10px; " />
     </div>  
       
       
       
      <div id="userplan">
           <div class="userplanmenu">
　      　　<ul>
            <li><a href="#toukou">投稿したプラン</a></li>
            <li><a href="#sannka">参加表明したプラン</a></li>
            <li><a href="#okiniiri">お気に入りのプラン</a></li>
            <li><a href="#ouen">応援したプラン</a></li>
            </ul>
           </div>
          
         
       
        <br class="clear" style="clear:both" />
        <div id="toukou"></div>
        <div class="space"></div>
        <h3>投稿したプラン</h3>
         
         
        <div class="userpostplanwrap">
        
         <div class="userpostplan">
             <div class="uppimg">
              <a href="プランの画像にリンクを掛ける"><img src="plansozai.png" width="162px" height="100px"></a>
             </div>
           <div class="upptitle">
            <a href="プラン全体にリンクをかける">みんなでカラオケに行こう！</a>
           </div>
         </div>
         
         
             <div class="userpostplan">
             <div class="uppimg">
              <a href="プランの画像にリンクを掛ける"><img src="plansozai.png" width="162px" height="100px"></a>
             </div>
           <div class="upptitle">
            <a href="プラン全体にリンクをかける">みんなでカラオケに行こう！</a>
           </div>
         </div>
        
        
        <div class="userpostplan">
             <div class="uppimg">
              <a href="プランの画像にリンクを掛ける"><img src="plansozai.png" width="162px" height="100px"></a>
             </div>
           <div class="upptitle">
            <a href="プラン全体にリンクをかける">みんなでカラオケに行こう！</a>
           </div>
         </div>
         
         
             <div class="userpostplan">
             <div class="uppimg">
              <a href="プランの画像にリンクを掛ける"><img src="plansozai.png" width="162px" height="100px"></a>
             </div>
           <div class="upptitle">
            <a href="プラン全体にリンクをかける">みんなでカラオケに行こう！</a>
           </div>
         </div>
         
         
         
         
        </div>
        
        
        
        
        
        <br class="clear" style="clear:both" />
        <div id="sannka"></div>
        <div class="space"></div>
        <h3>参加表明したプラン</h3>
        

<% @entries.each.with_index(1){ |entry, index| %>
 <%= link_to( entry.plan.title, plan_path( entry.plan ) ) %>
  <% if entry.user_id == session[:user_id] %><% end %>
  <br />
<% } %>
<br />
        
        　　
        <br class="clear" style="clear:both" />
        <div id="okiniiri"></div>
        <div class="space"></div>
        <h3>お気に入りのプラン</h3>
        

        <% @favorites.each.with_index(1){ |favorite, index| %>
         <div class="userpostplan">
             <div class="uppimg">
              <a href="プランの画像にリンクを掛ける"><img src="plansozai.png" width="162px" height="100px"></a>
             </div>
           <div class="upptitle">
            <%= link_to( favorite.plan.title, plan_path( favorite.plan ) ) %>
  <% if favorite.user_id == session[:user_id] %><% end %>
  <br />
           </div>
         </div>

<% } %>         

        <br class="clear" style="clear:both" />
        <div id="ouen"></div>
        <div class="space"></div>
        <h3>応援したプラン</h3>
     
     <% @cheers.each.with_index(1){ |cheer, index| %>
        <div class="userpostplan">
             <div class="uppimg">
              <a href="プランの画像にリンクを掛ける"><img src="plansozai.png" width="162px" height="100px"></a>
             </div>
           <div class="upptitle">
          <%= link_to( cheer.plan.title, plan_path( cheer.plan ) ) %>
  <% if cheer.user_id == session[:user_id] %><% end %>
  
           </div>
         </div>

         <% } %>
         
         <br class="clear" style="clear:both" />
     
     
      </div>
      <a class="gotop" href="#planmenulink">ページの上へ</a>
 
 </div>
 
 
   <div id="rightcontens">
 
      <div id="other1">
      <%= link_to( "Logout", logout_path ) %>
      関連プラン
   
      <img src="グルーヴラフTOPピング のコピー.png" width="180px"/>
   
      </div>
 
      <div id="other2">
      おすすめプラン
   
      <img src="グルーヴラフTOPピング のコピー.png" width="180px"/>
      <img src="グルーヴラフTOPピング のコピー.png" width="180px"/>
   
      </div> 
 
   </div>
  
  
  
   </div>
  
  
  
</div>  