<div id="content_plans">

 <div id="leftcontents">

   <div id="term">
   　　


     <h1>プライバシーポリシー</h1>
     </p>
     <h2>個人情報保護方針</h2>
       Playcast運営事務局（以下、「運営者」といいます。）はお客様の個人情報を取り扱うにあたって、以下の方針を厳守します。</p>
     <h3>個人情報保護の組織活動</h3>
       <p>当運営者は、基本方針を具体的に実践するため、以下の活動を行います。<br />
         01.当運営者は、個人情報に関する法令や指針その他の規範を遵守します。<br />
         03.当運営者と取引関係にある企業及び個人に対し個人情報保護に係わる協力を要請します。<br />
         04.個人情報保護の基本方針を、当運営者のホームページ（http://playcast.jp/）に掲示し、いつでも社内外のどなたにも閲覧可能な状態とします。<br />
        05. 個人情報保護方針は適宜見直し、継続的に改善します。</p>
       <p><br />
       </p>
       <h2>個人情報の取り扱いについて</h2>
       当運営者は、Playcast（以下、「本サービス」といいます）をご利用になる方（以下「ユーザー」といいます）の個人情報管理に注意を払い、以下の方針で取り扱うものとします。<br />
       <h3>1. 個人情報</h3>
       個人情報とは、当運営者の要求に応じてユーザーが記入した、個人の氏名、生年月日、年齢、性別、住所等であって、これらのうちの1つあるいは2つ以上を組み合せることによって、特定の個人を識別できるものを指します。<br />
       ユーザーが自発的に当運営者サービスに、記入、アップロード、投稿（以下、まとめて「投稿」と呼ぶ）した情報については、単独もしくは他の情報と組み合わせることによって個人を識別できる情報であっても、当運営者の管理責任外になります。また個人を識別出来ない形式に加工された投稿データは個人情報とはみなされません。<br />
        <br />
       <h3>2. 情報の取得</h3>
       当運営者は、個人情報の入手を適法かつ公正な手段によって行い、ユーザーの意思に反する不正な方法により入手いたしません。<br />
        <br />
       <h3>3. 個人情報の利用目的</h3>
       当運営者は、取得した個人情報を以下の目的のために利用します。<br />
       01.当運営者サービスの提供と当運営者サービスのご案内を差し上げるため<br />
       02. ユーザーへの連絡、商品・サービスの案内、プレゼントの発送等のため<br />
       03 .有料サービスを利用しているユーザーに利用料金を請求するため<br />
       04. ユーザーに合わせて当運営者サービスのページ上の情報、サービスおよび広告配信をカスタマイズするため<br />
       05.当運営者サービスの改善や新サービスの開発等に役立てるため<br />
       06. 当運営者サービスの利用規約に違反する利用を防止するため<br />
       07. 当運営者サービスに関して、個人を識別できない形式に加工した統計データを作成するため<br />
       なお、当運営者サイト内で個人情報の利用目的について別途定めている場合は当該利用目的の記述を優先します。</p>
     <h3>&nbsp;</h3>
     <h3>4. 個人情報の適切な保護</h3>
       当運営者は、ユーザーの個人情報を、正確かつ最新のものとするよう適切な処置を講じます。また、ユーザーの個人情報を適切かつ安全に管理します。<br />
        <br />
       <h3>5. 委託先の監督</h3>
       取得した個人情報の取扱いを委託する場合、個人情報の預託に係わる基本契約等の必要な契約を締結し、委託を受けた者に対する必要かつ適切な監督をおこないます。<br />
        <br />
       <h3>6. 利用目的による制限</h3>
       当運営者は、取得した個人情報について、利用目的の達成に必要な範囲内で取り扱います。個人情報を利用目的の範囲外で取り扱う場合は、あらかじめユーザーご本人の同意を得て行います。ただし、以下の場合はこの限りではありません。<br />
       01. 法令に基づく場合<br />
       02. 国もしくは地方公共団体の機関、またはその委託を受けた者が、法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br />
       03.人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき<br />
       04.公衆衛生の向上または児童の健全な育成の推進のために必要がある場合であって、本人の同意を得ることが困難であるとき</p>
     <h3>&nbsp;</h3>
     <h3>7. 個人情報の開示</h3>
       当運営者は、ユーザーご本人より当該本人の個人情報の開示を求められた場合には、遅滞なく応じます。ただし、以下の場合は、その全部または一部を開示しない場合があります。<br />
       01.ユーザーまたは第三者の生命、身体、財産その他の権利利や益を害するおそれがある場合<br />
       02.当運営者の業務に著しい支障を及ぼすおそれがある場合<br />
       03.法令に違反するおそれがある場合</p>
    <h3>&nbsp;</h3>
    <h3>8. 個人情報の第三者への提供</h3>
       当運営者は、ユーザーの個人情報について、ユーザーご本人の同意を得ずに第三者に提供することはおこないません。ただし、以下の場合はこの限りではありません。<br />
       01.法令に基づく場合<br />
       02.国もしくは地方公共団体の機関、またはその委託を受けた者が、法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br />
       03.人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき<br />
       04.公衆衛生の向上または児童の健全な育成の推進のために必要がある場合であって、本人の同意を得ることが困難であるとき</p>
     <p> <br />
       <h3>9. 個人情報の訂正、利用停止等の手続</h3>
       当運営者は、ユーザーご本人より当該本人の個人情報の訂正、追加、削除、利用の停止を求められた場合には、ユーザーご本人であることを確認させていただいた上で、合理的な期間内に対応いたします。<br />
        <br />
       <h3>10. 統計データの利用</h3>
       当運営者は、ユーザーの個人情報をもとに個人を識別できないように加工した統計データを作成することがあります。個人を識別できない統計データについては、当運営者は何ら制限なく利用することができるものとします。</p>
    <h3>&nbsp;</h3>
    <h3>11. 免責</h3>
       以下の場合は、個人情報保護に関して当運営者は責任を負いません。<br />
       01.ユーザーご本人が当運営者サービスの機能または別の手段を用いて個人情報を明らかにした場合<br />
       02.ユーザーが当運営者サービス上に自発的に投稿した情報やコンテンツにより個人情報が明らかになった場合<br />
        <br />
       <h3>12. クッキー等の使用について</h3>
       01.当運営者は、ユーザーが、当運営者や当運営者の提携先等のサービスをご利用になったり、ページをご覧になったりする際に、以下の情報をサーバーに記録する場合があります。<br />
       A) ユーザーのIPアドレス<br />
       B) クッキー情報<br />
       C) ユーザーがご覧になった広告・ページ、など<br />
       D) ユーザーのご利用環境、など<br />
       02.当運営者は、サービス改善と新サービス開発のために、上記クッキー等の情報と個人情報を組み合わせて利用する場合があります。それらの情報をもとにアンケート対象の抽出を行う場合もあります。また、それらの情報を分析する場合もありますが、分析結果については個人が識別できるような情報が含まれることはありません。<br />
        <br />
       <h3>13. プライバシーポリシーの改定について</h3>
       当運営者は、プライバシーポリシーの全部または一部を改定することがあります。重要な変更がある場合には、サイト上でお知らせします。<br />
        <br />
       <h3>14. お問い合わせ先</h3>
       このプライバシーポリシーに関して、何か質問があれば、 info@playcast.jp　までご連絡ください。<br /><br />
       以上</p>
   </div>



 </div>


</div>